.dialogContainer {
    position: relative;
}

.formField {
    margin-top: 16px;
}

.formFieldContainer {
    display: flex;
    // flex-direction: column;
}

.dialogProgressbar {
    position: absolute;
    left: 0px;
}