.userMainContainer {
  display: flex;
  flex-direction: column;
}

.addUserButton {
    position: absolute;
    top: 16px;
    right: 56px;
    background-color: rgb(29, 208, 145);
}

.matCardUser {
  margin-top: 24px;
}

.demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .useractive {
    background-color: #42D690;
  }

  .userinactive {
    background: rgb(255, 0, 64);
  }

  .userPending {
    background-color: #F8B958;
  }