<mat-card class="userProfileHeader">
  <button class="pinRightUpperCorner" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetails()">
      <div class="align-items-center">
        <span class="material-icons">edit</span>
        <span>Edit</span>
      </div>
    </button>
  </mat-menu>
  <img class="profileImage" src="./assets/img/avatar.png"/>
 
    <div class="userDetails mr-48px">
      <h2>{{ currentUser.firstName }} {{ currentUser.lastName }}</h2>
      {{ currentUser.email }}
    </div>
    <!-- <div class="userOptions">
      <div class="userOption flex-direction-column mr-48px align-items-center">
        <span class="material-icons mb-8px">qr_code_2</span>
        QR-Code
      </div>
      <div class="userOption flex-direction-column mr-48px align-items-center">
        <span class="material-icons mb-8px">edit</span>
        Bearbeiten
      </div>
      <div class="userOption flex-direction-column align-items-center">
        <span class="material-icons mb-8px">share</span>
        Weiterleiten
      </div>
    </div>   -->
</mat-card>

<mat-card class="mt-32px padding-8px">
  <button class="pinRightUpperCorner" mat-icon-button [matMenuTriggerFor]="editUser">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #editUser="matMenu">
    <button mat-menu-item (click)="editAddress()">
      <div class="align-items-center">
        <span class="material-icons">edit</span>
        <span>Edit</span>
      </div>
    </button>
  </mat-menu>
  <mat-card-title>Address</mat-card-title>
  {{ currentUser.street }} <br>
  {{ currentUser.zipCode }} {{ currentUser.city }}
  <mat-card-content> </mat-card-content>
</mat-card>
