<mat-card class="matCardUser">
  <mat-card-content>
    <table class="tableUser">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.street }}</td>
        <td>{{ user.zipCode }} {{ user.city }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
(click)="openDialog()"
class="addUserButton"
mat-fab
color="primary"
matTooltip="Info about the action"
[matTooltipPosition]="position.value!"
matTooltipHideDelay="500"
>
<mat-icon>add</mat-icon>
</button>
